*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.nav-bar img{
    width: 108px;
    height: 40px;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.nav-bar ul{
    float: right;
}

.nav-bar li{
    display: inline-block;
}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.nav-bar button{
    color: grey;
    font-size: 0.9rem;
}

.nav-bar i{
    margin-right: 4px;
}

.nav-bar{

}

.nav-bar span{
    margin-left: 20px;
    color: grey;
}

/* 
---------------------------------------
hero-sec
--------------------------------------- */
#hero{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./img/bg.png) ;
    background-size: cover;
    background-position: center;
    margin-top: 0;
}

.info{
    color: white;
    margin: 150px 0;
}

.info h2{
    font-size: 2.5rem;
}

.info input{
    width: 42%;
    height: 100%;
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
    outline: 0;
    border:0;
}

.info button{
    background: grey;
    height: 100%;
    width: 50px;
    margin-left: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: 0;
    border:0;
}

.info i{
    color: white;
}

.input{
    height: 40px;
    
}

.info input::placeholder{
    padding:10px;
    font-size: 1.1rem;
}
/* 
------------------------------
cities
------------------------------ */

.cities h2{
    font-size: 2.3rem;
}

.img-cities img{
    height: 120px;
    width: 120px;
}

.img-cities{
    width: 11%;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    margin-right: 70px;
    margin-left: 70px;

}

.cities-group{
    margin: 0 auto;
}

/*--------------footer ----------------*/

footer{
    background-color: #373737;
    margin-top: 80px;
    justify-content: space-evenly;
    
}
footer ul{
    justify-content: space-evenly;
}

footer ul li{
   display: inline-block;
    color:white;
    justify-content: space-evenly;
}

footer .img-p{
    color: white;
    border: none;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 10px;


}
footer p{
    color: white;
}